body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: #0F0F1A;
}
/* Background Canvas */
 .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    canvas {
        width: 100%;
        height: 100%;
        display: block;
    }
/* Header */
header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 10px 10px;
    background-image: linear-gradient(45deg, rgb(250,250,250, 0.4), rgb(250,250,250, 0.2));
    backdrop-filter: blur(5px);
    position: sticky;
    top: -10px;
    z-index: 100;
}
header h1{
    font-family: "Playwrite AR", cursive;
    font-size: 2em;
    color: pink;
}
header span {
    position: absolute;
    left: 20px;
    bottom: 5px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header nav a{
    text-decoration: none;
    color: white;
    transition: 0.2s;   
    padding: 10px;

    &:hover{
        color: pink;
        font-weight: 700;
    }
}
nav a::before{
        content: '';
        position: absolute;
        height: 20px;
        width: fit-content;
        background-color: transparent;
        border: 2px solid red;
        transform: scaleX(0) translateX(-8px) translateY(-2px);
        transition: transform 0.2s;
        transform-origin: left;
    }
nav a:hover::before{
    transform: scaleX(1) translateX(-8px) translateY(-2px);
    transform-origin: right;
}


section.main{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    margin: 20px;
}

/* Air Quality Section */
section#air-quality{
    height: 300px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 10px black;
}
div.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

div.aqi{

    background-color: red;
}
div.temperature{
    background-color: blue;
}
div.aqi-indicator{
    height: 150px;
    width: 150px;
    background-image:   radial-gradient(rgb(10,10,10) 0 45%, transparent 45% 100%), 
                        conic-gradient(from -135deg,rgb(153, 255, 0) 0 15%, yellow 15% 30%, orange 30% 45%, red 45% 60%, #ad0079 60% 75%, transparent 75% 100%);
    border-radius: 50%;
    position: relative;
    filter: drop-shadow(0 -5px 5px white);
}

div.needle{
    height: 80px;
    width: 5px;
    background-color: black;
    position: absolute;
    border-radius: 50% 100% 0 0;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    rotate: -20deg;
    transform-origin: bottom center;
    transition: 0.6s ease-out;
}

section.air-pollutants{
    padding: 10px;
    height: 300px;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}

div.main-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section.air-pollutants > div > div:not(.tooltip){
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;   
    position: relative;

}
div.tooltip {
    position: absolute;
    border: 2px solid black;
    background-color: white;
    padding: 5px;
    max-width: 200px;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(140px);

    opacity: 0;              /* start hidden */
    transition: opacity 0.3s ease;
    visibility: hidden;       /* hide from layout */
}
button.tooltipBtn{
    background-color: transparent;
    border: none;
    z-index: 1000;
    cursor: pointer;
}

button.tooltipBtn img{
    height: 25px;
}

/* Water pollutants */

section.water-pollutants{
    height: 300px;
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    z-index: -1;
}
section.water-pollutants > div > div:not(.tooltip){
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

/* Risk Card */
section.risk-card{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.riskLevel{
    padding: 10px;
    margin: 10px;
    font-size: 2em;
}
.reason{
    font-size: 1.5em;
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
span#privacy{
    text-align: center;
    font-size: 0.7rem;
}
form div{
    display: flex;
    align-items: center;
}
div#symptoms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
form textarea{
    height: 50px;
    padding: 5px;
}
form label{
    font-weight: 700;
    margin: 10px;
}
form input, textarea{
    padding: 5px;
    border-radius: 4px;
    background-color: antiquewhite;
    border: 2px solid black;
}
form input[type=checkbox], input[type=radio]{
    height: 20px;
    width: 20px;
}
button[type=submit]{
    padding: 10px;
    width: fit-content;
    background-color: rgb(255, 212, 196);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        scale: 1.1;
    }
}

.inforamaticsAndFormulas{
    background-color: rgb(20,20,20,0.3);
    margin-top: 10px;
    color: white;
    backdrop-filter: blur(4px);
    z-index: 0;
    grid-row: span 3;
    height: 70px;
    overflow: hidden;
    transform-origin: top;
    transition: 0.4s;
}
.inforamaticsAndFormulas button{
    height: 50px;
    width: 50px;
    background-color: purple;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.inforamaticsAndFormulas button img{
    height: 30px;
    transition: transform 0.2s ease-in-out;
    rotate: 180deg;
}

.inforamaticsAndFormulas.expanded{
    height: max-content;
}   