body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: lightblue;
    background-image: url(https://wallpapers.com/images/featured/weather-xqhs9axpy8btfd3y.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Header */
header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 10px 10px;
    background-color: rgba(224, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    top: -10px;
}
header span {
    position: absolute;
    left: 20px;
    bottom: 5px;
}

header nav{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header nav a{
    text-decoration: none;
    color: black;
    transition: 0.2s;   
    padding: 10px;

    &:hover{
        color: red;
        font-weight: 700;
    }
}
nav a::before{
        content: '';
        position: absolute;
        height: 20px;
        width: 70px;
        background-color: transparent;
        border: 2px solid red;
        transform: scaleX(0) translateX(-10px);
        transition: transform 0.2s;
        transform-origin: left;
    }
nav a:hover::before{
    transform: scaleX(1) translateX(-10px);
    transform-origin: right;
}


section.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    z-index: -1;
}

/* Air Quality Section */
section#air-quality{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    z-index: -1;
}
div.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

div.aqi{

    background-color: red;
}
div.temperature{
    background-color: blue;
}
div.aqi-indicator{
    height: 100px;
    width: 100px;
    background-image:   radial-gradient(rgb(255,255,255) 0 45%, transparent 45% 100%), 
                        conic-gradient(from -135deg,greenyellow 0 15%, yellow 15% 30%, orange 30% 45%, red 45% 60%, #8F3F97 60% 65%, #7E0123 65% 75%, transparent 75% 100%);
    border-radius: 50%;
}

section.air-pollutants{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    height: 300px;
    z-index: -1;
}

section.air-pollutants div:not(.tooltip){
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}
div.tooltip{
    position: absolute;
    border: 2px solid black;
    background-color: white !important;
    padding: 5px;
    max-width: 200px;
    border-radius: 5px;
    z-index: 10;
    display: none;
    pointer-events: none;
    transform: translateY(140px);
}

img.tooltipImg{
    height: 20px;
}

/* Water pollutants */

section.water-pollutants{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    height: 300px;
    z-index: -1;
}
section.water-pollutants div:not(.tooltip){
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}

/* Risk Card */
section.risk-card{
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
span#privacy{
    text-align: center;
    font-size: 0.7rem;
}
form div{
    display: flex;
    align-items: center;
}
div#symptoms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
form textarea{
    height: 50px;
    padding: 5px;
}
form label{
    font-weight: 700;
    margin: 10px;
}
form input, textarea{
    padding: 5px;
    border-radius: 4px;
    background-color: antiquewhite;
    border: 2px solid black;
}
form input[type=checkbox], input[type=radio]{
    height: 20px;
    width: 20px;
}
button[type=submit]{
    padding: 10px;
    width: fit-content;
    background-color: rgb(255, 212, 196);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        scale: 1.1;
    }
}