body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: lightblue;
}
/* Header */
header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: lightcyan;
}

header nav{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header nav a{
    text-decoration: none;
    color: black;
    transition: 0.2s;   
    padding: 10px;

    &:hover{
        color: red;
        font-weight: 700;
    }
}
nav a::before{
        content: '';
        position: absolute;
        height: 20px;
        width: 70px;
        background-color: transparent;
        border: 2px solid red;
        transform: scaleX(0) translateX(-10px);
        transition: transform 0.2s;
        transform-origin: left;
    }
nav a:hover::before{
    transform: scaleX(1) translateX(-10px);
    transform-origin: right;
}


/* Air Quality Section */
section#air-quality{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}
div.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

div.aqi{

    background-color: red;
}
div.temperature{
    background-color: blue;
}
div.aqi-indicator{
    height: 100px;
    width: 100px;
    background-image: radial-gradient(white 0 70%, transparent 70% 100%);
}

